{% extends 'master.html' %}
{% block title %} About Us - SuggestPoint {% endblock %}
{% block keywords %} About Us, Suggest Point {% endblock %}
{% block description %} Know About Suggest Point best product, services and tools finding platform. {% endblock %}

{% block content %} 

<!--About Section Start-->
<section>
    <div class="container">
        <div class="static_page">
            <div class="heading_start">
                <h1>About Suggest Point</h1>
                <hr>
                <div class="static_main_content_start">
                    <h2>What is SuggestPoint?</h2><br/>
                    <p>Suggest Point is a platform to find best online business product like "web hosting","SEO Tools","WordPress Plugins & Themes", etc. We help business owners & individuals to find best digital product to start their online presence and grow their businesses.</p>
                    <br/>
                    <h3>How SuggestPoint helps Businesses?</h3>
                    <p>SuggestPoint Provides best list of product and services with review and rating so business owners or individuals can easily grab best tools to scale their business online.
                        Our listed tools are 100% genuine and verified before it get listed so you don't need to worry about that. anyone can easily compare two proudct to get insight between them.
                    </p>


                </div>
            </div>
        </div>
    </div>
</section>
<!--end About Section Start-->

{% endblock %}

