/*Home Page CSS*/
body{
    background-color: #f5f5f5!important;

}
h1, h2, h3, h4, h5, h6{
    font-family: 'Muli', sans-serif;
    font-weight: bold;
}
p{
    font-family: 'Muli', sans-serif;
}

/*home page header css*/
.login_btn{
    background-color:#fb641b;
    color:white;
}
.client_alerts{
    z-index: 10000;
    position: relative;
}
.master_btn {
    background-color: #fb641b;
    color: white;
}
.master_btn:hover {
    background-color: #e64b00;
    color: white;
}
/*Home Page Footer CSS*/
/*footer*/
.col_white_amrc { color:rgb(255, 255, 255);}
footer { width:100%; background-color:#363637; min-height:250px; padding:10px 0px 0px 0px ; font-family: 'Muli', sans-serif;}
.pt2 { padding-top:40px ; margin-bottom:20px ;}
footer p { font-size:13px; color:rgb(255, 255, 255); padding-bottom:0px; margin-bottom:8px;}
.mb10 { padding-bottom:15px ;}
.footer_ul_amrc { margin:0px ; list-style-type:none ; font-size:14px; padding:0px 0px 10px 0px ; }
.footer_ul_amrc li {padding:0px 0px 5px 0px;}
.footer_ul_amrc li a{ color:rgb(255, 255, 255);}
.footer_ul_amrc li a:hover{ color:rgb(255, 255, 255); text-decoration:none;}
.fleft { float:left;}
.padding-right { padding-right:10px; }
.headin5_amrc{
    font-weight: bolder;
}
.footer_ul2_amrc {margin:0px; list-style-type:none; padding:0px;}
.footer_ul2_amrc li p { display:table; }
.footer_ul2_amrc li a:hover { text-decoration:none;}
.footer_ul2_amrc li i { margin-top:5px;}

.bottom_border { border-bottom:2px solid white !important; padding-bottom:20px;}
.foote_bottom_ul_amrc {
	list-style-type:none;
	padding:0px;
	display:table;
	margin-top: 10px;
	margin-right: auto;
	margin-bottom: 10px;
	margin-left: auto;
}
.foote_bottom_ul_amrc li { display:inline;}
.foote_bottom_ul_amrc li a { color:white; margin:0 12px;}

.lower_bottom{
    color:#ffffff;
}
.bottom_logo{
    font-size: 30px;
    font-weight: bolder;
    font-style: italic;
}
.copyright_text{
    color: white !important;
}

/*Side Menu */
.top_toggle_button{
    font-size:30px;
    cursor:pointer;
    color:#150773;
    font-size: 20px;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #150773;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #150773;
    background-color: white;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right:25px;
    padding-right: 25px;
    font-size: 25px;
    margin-left: 50px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
 
  }
  @media screen and (max-height: 450px) {
    .explore_category{
        display: none;
    }
  }

/*--Top Navbar CSS*/
.navbar-custom { 
    background-color: #150773; 
} 
.navbar-custom .navbar-brand, 
.navbar-custom .navbar-text,
.navbar-custom .nav-link
 { 
    color:white; 
} 
.navbar-custom .navbar-nav .nav-link{ 
    padding-right: 1rem;
    padding-left: 0.5rem;
}
#nav-toggle-button span {
    background-color: white;
}
.navbar-toggler:focus,
.navbar-toggler:active {
    outline: 0;
}

.navbar-toggler span {
   display: block;
   background-color: #444;
   height: 3px;
   width: 25px;
   margin-top: 4px;
   margin-bottom: 4px;
   -webkit-transform: rotate(0deg);
   -moz-transform: rotate(0deg);
   -o-transform: rotate(0deg);
   transform: rotate(0deg);
   position: relative;
   right: 0;
   opacity: 1;
}

.navbar-toggler span:nth-child(1),
.navbar-toggler span:nth-child(3) {
   -webkit-transition: transform .35s ease-in-out;
   -moz-transition: transform .35s ease-in-out;
   -o-transition: transform .35s ease-in-out;
   transition: transform .35s ease-in-out;
}

.navbar-toggler:not(.collapsed) span:nth-child(1) {
    position: absolute;
    right: 29px;
    top: 23px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
    opacity: 0.9;
}

.navbar-toggler:not(.collapsed) span:nth-child(2) {
    height: 12px;
    visibility: hidden;
    background-color: transparent;
}

.navbar-toggler:not(.collapsed) span:nth-child(3) {
    position: absolute;
    right: 29px;
    top: 23px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
    opacity: 0.9;
}

/*--main_hero_section-*/
header.masthead {
    position: relative;
    background-color: #150773;
    background-size: cover;
    padding-top: 8rem;
    padding-bottom: 8rem;
  }
  header.masthead .overlay {
    position: absolute;
    background-color: #150773;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.3;
  }
  @media (min-width: 768px) {
    header.masthead {
      padding-top: 7rem;
      padding-bottom: 5rem;
    }
    header.masthead h1 {
      font-size: 2.6rem;
    }
  }
  @media (max-width: 768px) {
    header.masthead h1 {
      font-size: 1.6rem;
    }
  }
  .hot_deal_btn{
      background-color:#150773 ;
      color: white;
      border: 2px solid white;
      font-size: 25px;
      font-weight: bold;
  }
  .hot_deal_btn:hover{
    background-color:white ;
    color: #150773;
    border: 2px solid white;
    transition: 0.5s;
}

#custom-search-input {
    margin:0;
    margin-top: 10px;
    padding: 0;
}

#custom-search-input .search-query {
    padding-right: 13px;
    padding-right: 4px \9;
    padding-left: 13px;
    padding-left: 4px \9;
    /* IE7-8 doesn't have border-radius, so don't indent the padding */
    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 6px;
    height: 60px;
    border: 6px solid #ececec;
    font-size: 15px;
    color:#042337;
}

#custom-search-input button {
    border: 0;
    background: #fb641b;
    /** belows styles are working good */
    margin:auto;
    left: -38px;
    /* IE7-8 doesn't have border-radius, so don't indent the padding */
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    color: white;
    font-size: 25px;
}
#custom-search-input input[type=text]:focus {
    border: 2px solid #888584;
  }
.search-query:focus + button {
    z-index: 3;
}

#custom-search-input .input-group-btn {
position: absolute;
font-size: 0;
white-space: nowrap;
right: 15px;
top: 15px;
}

.form-control::-moz-placeholder {
color: #000;
opacity: 1;
}

@media screen and (max-width:990px){

    .search-header #custom-search-input {
        float: left;
        width: 100%;
    }
}
    
    @media screen and (max-width:767px){
    
    .search-header #custom-search-input {
        float: left;
        width: 100%;
    }
 
}

/*--navbar dropdown css*/

.dropdown .category_btn{
    background-color: #fff;
    font-weight: bold;
}

.dropdown .dropdown-toggle::after {
    vertical-align: .150em;
}
.dropdown .category_dropdown{
    margin-top: -4px;
    width:500px;
}
.dropdown:hover > .dropdown-menu {
    display: block;
}
.dropdown .category_dropdown .dropdown-header{
    color:#150773;
    font-weight: bold;
}

/*-- top selling category section--*/
.top_selling_category .category_outer{
    background-color: #fff;
    height: 200px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    box-shadow: 1px 2px 4px 0 rgba(36, 39, 44, 0.15);
    margin-bottom: 3px;
    border-bottom: 3px solid #150773;
}
.top_selling_category .category_outer i{
    padding-top: 10%;
    font-size: 100px;
    color:#fb641b;
}
.top_selling_category .category_outer .category_label{
    font-weight: bold;
}
/*-- end section--*/

/*-- full page search--*/
.close-btn { position: fixed; z-index: 999999;color:white;right: 20px}
.close-btn i{color:white;font-size: 20px;}
.search-area { position: fixed; display: none; content: ''; top:0; left:0; background: #150773; width:100%; height:100%; z-index: 1030;}
.form-btn { margin-top: 15%;}
.form-btn input,button { background: transparent; font-size: 23px; color: #fff;} 
.form-btn input:focus { background: transparent; outline: none; box-shadow: none; border-color:#ced4da; color: #fff;}
.brd-left-none { border-left: none !important;}
.form-btn .form-control { border-right:none !important;}
.border-bottom { border: none; border-bottom: solid 1px #ced4da; border-radius: 0px;}
.form-btn input::placeholder { color: #fff; font-weight: normal;}
.close-btn i{color:white;font-size: 20px;}

@media screen and (max-width:991px){
    
    .form-btn input,button { font-size: 16px;} 

}
#search-results{
    background: #fff;
    text-align: left;
    max-height: 350px;
    overflow: auto;
    cursor: pointer;
    border-radius: 0 0 24px 24px;
    box-shadow: 0 4px 6px 0 rgba(32,33,36,0.28);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    list-style-type: none;
    text-transform: capitalize;
    position: absolute;
    width: 96.20%;
    padding-left: 0px;
}
#search-results div{
    font-weight: bold;
    padding: 13px 13px 5px 20px;
}
#search-results a{
    text-decoration: none;
    color:black;
    padding: 13px 13px 13px 30px;
    display: block;

}
#search-results a:hover{
    background-color: #e5e5e5;
}

#top_product_type{
    margin-top: 15%;
}

#top_product_type p{
    color:white;
    font-size: 25px;
}
#top_product_type a{
    list-style: none;
    display: inline-block;
    width: auto;
    /* padding: 8px 12px; */
    margin-right: 8px;
    margin-bottom: 8px;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid white;
    background-color: white;
    font-size: 20px;
    text-decoration: none;
    padding: 8px 12px;
    color:black;
}
#top_product_type a:hover{
    background-color: #150773;
    color:white;
}
