{% extends 'admin_master.html' %}
{% block title %} Feature - SuggestPoint {% endblock %}
{% block keywords %} features, Suggest Point {% endblock %}
{% block content %} 

      <div class="container-fluid">


    <!--Section Start-->
<section>
    <div class="container">
      <div class="heading_start">
        <h1>Features</h1>
        <hr>
    </div>
    <br/>
        <div class="row">
            <div class="col-md-4">
                <h4>Add New Features</h4>
                    <form id="add_feature_form">   
                        {% csrf_token %}
                        <div id="update_alert"></div>
                        <input type="text" class="form-control" name="feature" id="feature" placeholder="Enter Feature" required/>
                        <br/>
                        <select id="product_type" name="product_type" class="form-control" required>
                            <option selected id="select" value="0">Select Product Type</option>
                            {% for name in product_type_data %}
                            <option value="{{ name.product_type_id }}">{{ name.product_type_name }}</option>
                            {% endfor %}
                        </select>
                        <br/>
                        <select id="feature_has_value" name="feature_has_value" class="form-control" required>
                          <option selected id="select" value="0">Select Feature Value Option</option>
                          <option value="y">Yes (Specific Value)</option>
                          <option value="n">No (Option Value)</option>
                      </select>
                        <br/><input type="submit" name="submit" class="master_btn btn btn-success" value="Add Feature"/>
                    </form>
                  <br/>
              </div>
            <div class="col-md-8">
                    <div class="card mb-3">
                        <div class="card-header">
                          <i class="fas fa-th"></i>
                          Feature</div>
                        <div class="card-body">
                          <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                              <thead>
                                <tr>
                                  <th>Feature</th>
                                  <th>Product Type</th>
                                  <th>Action</th>
                                </tr>
                              </thead>
                              <tbody>
                                {% for data in feature_data %}
                                    <tr>
                                        <td>{{ data.feature_name }}</td>
                                        <td>{{ data.product_type.product_type_name }}</td>
                                        <td>
                                            <a href="/sp-admin/feature/edit/{{ data.feature_id }}/"><button class="btn btn-success btn-sm"><i class="fas fa-edit"></i> Edit</button></a>
                                          <button class="btn btn-danger btn-sm" id="delete_modal_btn" data-toggle="modal" data-id="{{ data.feature_id }}" data-target="#myModal"><i class="fas fa-trash"></i> Delete</button>
                                        </td>
                                    </tr>
                                {% endfor %}
                                
                              </tbody>
                            </table>
                          </div>
                        </div>
                        <div class="card-footer small text-muted"></div>
                </div>
              
            </div>          
        </div>
    </div>
</section>

      </div>
      <!-- /.container-fluid -->
      <!-- Modal HTML -->
<div id="myModal" class="modal fade">
	<div class="modal-dialog modal-confirm">
		<div class="modal-content">
			<div class="modal-header">			
				<h4 class="modal-title">Delete Feature Confirmation</h4>	
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <form id="delete_feature_form">
                {% csrf_token %}
                  <div class="modal-body">
                            <p>Are you sure you want delete to this feature? </p>
                            <input type="hidden" id="feature_id" name="feature_id"/>
                  </div>
                  <div class="modal-footer">
                            <a href="#" class="btn btn-info" data-dismiss="modal">Cancel</a>
                            <button type="submit" class="btn btn-danger" id="submit" name="submit">Yes, delete it!</button>
                  </div>
            </form>
		</div>
	</div>
</div>
 
{% endblock %}
{% block js %}
<script type="text/javascript">
    $(document).on('submit','#add_feature_form',function(e){
        e.preventDefault();
        var product_type_check = $("#product_type").val();
        var feature_has_value = $("#feature_has_value").val();

        if(product_type_check != 0 && feature_has_value != 0){
            $('#master_loader').show();
            $.ajax({
                type:'POST',
                url: '/sp-admin/add_feature/',
                data : { 
                    feature: $('#feature').val().trim(),
                    product_type : $('#product_type').val().trim(),
                    feature_has_value : $('#feature_has_value').val().trim(),
                    csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
                },
                success: function(data) {
                if (data.feature_added) {
                    $('#master_loader').hide();
                    $("#update_alert").removeClass("alert alert-warning"); 
                    $("#update_alert").removeClass("alert alert-danger"); 
                    $("#update_alert").html("Feature Added Successfully!"); 
                    $("#update_alert").addClass("alert alert-success");
                    $("#feature").val('');
                }else if(data.feature_exist){
                    $('#master_loader').hide();
                    $("#update_alert").removeClass("alert alert-warning"); 
                    $("#update_alert").removeClass("alert alert-success"); 
                    $("#update_alert").html("Feature already exist!"); 
                    $("#update_alert").addClass("alert alert-danger");
                }else{
                    $('#master_loader').hide();
                    $("#update_alert").removeClass("alert alert-success"); 
                    $("#update_alert").removeClass("alert alert-warning"); 
                    $("#update_alert").html("Opps! Something Went wrong please check Feature data!"); 
                    $("#update_alert").addClass("alert alert-danger");
                }
                },
        });
        }else if(product_type_check == 0){
            $("#update_alert").removeClass("alert alert-success"); 
            $("#update_alert").removeClass("alert alert-warning"); 
            $("#update_alert").html("Please Select Product type!"); 
            $("#update_alert").addClass("alert alert-danger");
        }else if(feature_has_value == 0){
            $("#update_alert").removeClass("alert alert-success"); 
            $("#update_alert").removeClass("alert alert-warning"); 
            $("#update_alert").html("Please Select Feature Value!"); 
            $("#update_alert").addClass("alert alert-danger");
        }else{
            $("#update_alert").removeClass("alert alert-success"); 
            $("#update_alert").removeClass("alert alert-warning"); 
            $("#update_alert").html("Something went wrong please try again!"); 
            $("#update_alert").addClass("alert alert-danger");
        }
    })

$(document).on("click", "#delete_modal_btn", function () {
    var id = $(this).attr('data-id');
    $(".modal-body #feature_id").val(id);
})

$(document).on('submit','#delete_feature_form',function(e){
        e.preventDefault();
        $.ajax({
            type:'POST',
            url: '/sp-admin/feature/delete/',
            data : { 
              feature_id : $('#feature_id').val(),
                csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
            },
            success: function(data) {
                if(data.deleted){
                    alert("Feature Deleted Successfully!");
                    location.reload();
                }else{
                    alert("Oops! Something went wrong please try again");
                    location.reload();
                }
            },
        });
    })

   </script>
{% endblock %}
