{% extends 'admin_master.html' %}
{% load static %}
{% block title %} Add New Product - SuggestPoint {% endblock %}
{% block keywords %} New Product, Suggest Point {% endblock %}
{% block content %} 

      <div class="container-fluid">


    <!--Section Start-->
<section>
        <div class="top_bar">
            <form id="add_product_form" enctype="multipart/form-data">   
                {% csrf_token %}
            <div class="row">
                <div class="col-md-6">
                    <h1>Add New Product</h1>                                
                </div>
                <div class="col-md-6">
                    <button type="submit" name="submit" id="add_button" class="btn btn-outline-success btn-lg"><span id="save_loader"></span> Add Product</button>
                </div>
            </div>
        </div>
        <br/>
        <div class="container">

        <div class="row">
            <div class="col-md-8">
                            <div id="update_alert"></div>
                            <div class="row">
                                <div class="col-md-12">
                                    <label>Product Name:</label>
                                      <input type="text" class="form-control" name="product_name" id="product_name" placeholder="Enter Product Name" required/>
                                      <br/>
                                </div>
                            <div class="col-md-12">
                                    <label>Product Title</label>
                                    <input type="text" class="form-control" name="product_title" id="product_title" placeholder="Enter Product Title" required/>
                                    <br/>
                            </div>

                              <div class="col-md-12">
                                
                                <label>Product Info:</label>
                                <textarea class="form-control" rows="5" id="product_info" name="product_info" placeholder="Enter Product Info" required></textarea>
                                <em>Write 250-500 word bio about product.</em>
                              </div>

                              </div>
                        
                    <br/>
            </div>
            <div class="col-md-4">
                <div class="right_side_product_setting">
                    <div class="col-md-12">
                        <label>Product Slug(URL):</label>
                    <input type="text" class="form-control" name="product_slug" id="product_slug" placeholder="Enter Product Slug"/>
                    <em>The “slug” is the URL-friendly version of the product name. It is usually all lowercase and contains only letters, numbers, and hyphens.</em>
                    </div>
                    <br/>
                    <div class="col-md-12">
                        <label>Product Website Link:</label>
                    <input type="text" class="form-control" name="product_link" id="product_link" placeholder="Enter Product Website Link"/>
                    </div>
                    <br/>
                    <div class="col-md-12">
                        <label>Product Price:</label>
                        <div class="input-group">
                            <div class="col-md-6">
                                <select id="currency" name="currency" class="form-control" required>
                                    <option selected id="select" value="0">Currency</option>
                                    {% for data in currency_data %}
                                    <option value="{{ data.currency_id }}">{{ data.currency_symbol }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-md-6">
                                <input type="text" class="form-control" name="product_price" id="product_price" placeholder="Price" required/>
                                <br/>
                            </div>
                            <div class="col-md-12">
                                <select id="price_term" name="price_term" class="form-control" required>
                                    <option selected value="m">Per Month</option>
                                    <option value="=y">Per Year</option>
                                </select> 
                            </div>  
                        </div> 
                    </div>
                    <br/>
                    
                    <div class="col-md-12">
                        <label>Product Brand:</label>
                        <select id="brand" name="brand" class="form-control" required>
                            <option selected id="select" value="0">Select Brand Type</option>
                            {% for data in brand_data %}
                            <option value="{{ data.brand_id }}">{{ data.brand_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <br/>
                    <div class="col-md-12">
                        <label>Product Type:</label>
                        <select id="product_type" name="product_type" class="form-control" required>
                            <option selected id="select" value="0">Select Product Type</option>
                            {% for data in product_type_data %}
                            <option value="{{ data.product_type_id }}">{{ data.product_type_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <br/>
                    <div class="col-md-12">
                        <label>Product Description:</label>
                        <textarea class="form-control" rows="5" id="product_desc" name="product_desc" placeholder="Enter Product Info" required></textarea>
                    <em>Product Description must be of up to 65-70 character for better SEO.</em>
                    </div>
                </form>
                </div>
            </div>
        </div>
    </div>
</section>

      </div>
      <!-- /.container-fluid -->
      <script src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>   

{% endblock %}
{% block js %}
<script type="text/javascript">
    $(document).on('submit','#add_product_form',function(e){
        e.preventDefault();
        var delay = 3000;
        var product_type_check = $("#product_type").val();
        var brand_check = $("#brand").val();
        var slug = $("#product_slug").val();
        var product_info = $("#product_info").val();
        var slug_check = slug.charAt(slug.length - 1)
        if(product_type_check != 0 && brand_check != 0 && slug_check != '-'  && product_info != ''){
        document.getElementById("add_button").disabled = true;
        $('#save_loader').addClass('spinner-border text-muted');

        $.ajax({
            type:'POST',
            url: '/sp-admin/add_product/',
            data: new FormData(this),
            contentType:false,
            processData:false,
            success: function(data) {
              if (data.product_data) {
                  setTimeout(function() {
                    delaySuccess(data);
                  }, delay);
              }else if(data.is_taken){
                  $('#save_loader').removeClass('spinner-border text-muted');
                  document.getElementById("add_button").disabled = false;
                  $("html, body").animate({ scrollTop: 0 }, "slow");
                  $("#update_alert").removeClass("alert alert-success"); 
                  $("#update_alert").removeClass("alert alert-danger"); 
                  $("#update_alert").html("Product already Exists!"); 
                  $("#update_alert").addClass("alert alert-warning");
              }else{
                $('#save_loader').removeClass('spinner-border text-muted');
                document.getElementById("add_button").disabled = false;
                $("html, body").animate({ scrollTop: 0 }, "slow");
                $("#update_alert").removeClass("alert alert-success"); 
                $("#update_alert").removeClass("alert alert-warning"); 
                $("#update_alert").html("Opps! Something Went wrong please check data!"); 
                $("#update_alert").addClass("alert alert-danger");
              }
            },
        });
        }else{
          if(slug_check == '-'){
            $("html, body").animate({ scrollTop: 0 }, "slow");
            $("#update_alert").removeClass("alert alert-success"); 
            $("#update_alert").removeClass("alert alert-warning"); 
            $("#update_alert").html("Slug Should not end with hyphen!"); 
            $("#update_alert").addClass("alert alert-danger");
          }else if(product_type_check == '0'){
            $("html, body").animate({ scrollTop: 0 }, "slow");
            $("#update_alert").removeClass("alert alert-success"); 
            $("#update_alert").removeClass("alert alert-warning"); 
            $("#update_alert").html("Please Select Product Type!"); 
            $("#update_alert").addClass("alert alert-danger");
            }else if(brand_check == '0'){
            $("html, body").animate({ scrollTop: 0 }, "slow");
            $("#update_alert").removeClass("alert alert-success"); 
            $("#update_alert").removeClass("alert alert-warning"); 
            $("#update_alert").html("Please Select Product Brand!"); 
            $("#update_alert").addClass("alert alert-danger");
          }else{
            $("html, body").animate({ scrollTop: 0 }, "slow");
            $("#update_alert").removeClass("alert alert-success"); 
            $("#update_alert").removeClass("alert alert-warning"); 
            $("#update_alert").html("Please write about Product Info!"); 
            $("#update_alert").addClass("alert alert-danger");
          }
        }

    });
function delaySuccess(data) {
    $('#save_loader').removeClass('spinner-border text-primary');
    document.getElementById("add_button").disabled = false;
    $("html, body").animate({ scrollTop: 0 }, "slow");
    $("#update_alert").removeClass("alert alert-warning"); 
    $("#update_alert").removeClass("alert alert-danger"); 
    $("#update_alert").html("Product Added Successfully!"); 
    $("#update_alert").addClass("alert alert-success");
    $("#product_name").val('');
    $("#product_slug").val('');
    $("#product_title").val('');
    $("#product_info").val('');
    $("#product_desc").val('');
}
$("#product_name").keyup(function(){
        var Text = $(this).val();
        Text = Text.toLowerCase();
        Text = Text.replace(/[^a-zA-Z0-9]+/g,'-');
        $("#product_slug").val(Text);        
});


$("#brand_logo").change(function(){
    readURL(this);
}); 	
    $(function () {
        CKEDITOR.replace('product_info', {
            toolbar: 'Basic'
        });
    });
   </script>
{% endblock %}
