{% extends 'master.html' %}
{% block title %} Change Password - SuggestPoint {% endblock %}
{% block keywords %} change password, SuggestPoint {% endblock %}
{% block description %} Know About Suggest Point best product, services and tools finding platform. {% endblock %}

{% block content %} 
<br>
<br>
<br>

<br>
<br>
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-1">
            <div class="change_password">
                    <h3>Change Password</h3>
                <hr>

            <form method="post">
                {% csrf_token %}
    
                {% for field in form %}
                {% if field.errors %}
                <span style="color:red">{{ field.errors }}</span>
                {% endif %}
                <br>
                    <b>{{field.label_tag}}</b>
                    {{ field }}

                {% endfor %}
                <br>
                <button type="submit" class="btn master_btn btn-lg">Change Password</button>
    
            </form>
    
            </div>
        </div>
        <div class="col-md-4">
            <div class="change_password_note">
                <h3>Note:</h3>
                <hr/>
                <ul>
                    <li>Your password can’t be too similar to your other personal information.</li>
                    <li>Your password must contain at least 8 characters.</li>
                    <li>Your password can’t be a commonly used password.</li>
                    <li>Your password can’t be entirely numeric.</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<br/>
<br/>
 
{% endblock %}
{% block js %}
<script>

//to add bootstrap form-control to all input field
$( "input" ).addClass( "form-control" );

</script>
{% endblock %}
